Source: typeshed
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders: Antonio Terceiro <terceiro@debian.org>
Build-Depends: debhelper-compat (= 12),
               git,
               python3,
               python3-setuptools,
               python3-wheel,
               python3-pip,
               python3-requests,
               python3-toml,
               python3-tomli,
               python3-packaging
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/python-team/packages/typeshed.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/typeshed
Homepage: https://github.com/python/typeshed
Rules-Requires-Root: no
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bookworm

Package: python3-typeshed
Architecture: all
Depends: ${misc:Depends}, python3:any
Provides: ${typeshed:Provides}
Breaks: python3-types-cryptography,
        python3-types-enum34,
        python3-types-ipaddress,
        python3-types-requests,
        python3-types-six,
        python3-types-typed-ast,
        python3-types-toml
Replaces: python3-types-cryptography,
          python3-types-enum34,
          python3-types-ipaddress,
          python3-types-requests,
          python3-types-six,
          python3-types-typed-ast,
          python3-types-toml
Multi-Arch: foreign
Description: collection of library stubs for Python, with static types
 Typeshed contains external type annotations for the Python standard library
 and Python builtins, as well as third party packages as contributed by people
 external to those projects.
 .
 This data can e.g. be used for static analysis, type checking or type
 inference.
